.root {
  margin-bottom: 2em;
}

.date {
  font-family: 'Roboto Slab';
  color: #999;
  margin-bottom: 0.1em;
  cursor: pointer;
  display: flex;
  gap: 0.25em;
  width: max-content;

  svg {
    display: none;
  }

  &:hover {
    color: #faa719;
    fill: #faa719;
    svg {
      display: block;
    }
  }
  &:active {
    color: #ff3a32;
    fill: #ff3a32;
  }
}

.root .q,
.root .a {
  margin-bottom: 0.25em;
}

.q {
  font-family: 'Roboto Slab';
  font-size: 1.15em;
  color: white;
  font-weight: 400;
}

.a {
  color: #51d064;
}
